node_modules/
dist/
coverage/
build/
admin/
ios/
android/
HonbabnonoExpo/
*.chunk.js
*.bundle.js
*.min.js
webpack.config.js
metro.config.js
babel.config.js
jest.config.js
tests/deposit.test.js
tests/simple-deposit.test.js
tests/setup.js